.container{
    width: 450px;
    text-align: center;
    align-content: center;
}

img{
    padding-left: 3%;
    margin-top: 5%;
    width: 50%;
    height: 50%;    
}

h2{
    margin-top: 0;
    margin-bottom: 4%;
}
table{
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

th.center{
    text-align: center;
}

input[class="name"]{
    width: 100px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    width: 50px;
    text-align: center;
}

input[class="pudding"]{
    width: 75px;
}

input:disabled{
    width: 75px;
    text-align: center;
}

button{
    margin-top: 5%;
}

footer{
    margin-top: 7%;
}